<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Counter Ranking APP!</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    
    <header>{{> navbar}}</header>
    
    <main class="flex-shrink-0 mt-5">  
    {{{body}}}
    </main>
    <div class="my-4"></div>
    <div class="pb-5">{{> footer}}</div>
    
        
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>