<footer class="footer text-dark fixed-bottom bg-light mt-auto">

  <div class="container py-3">
    <div class="row">
      <div class="col-auto me-auto">Desarrollado por Sebastián Kravetz
        <a href="https://github.com/wwiiddeeweb">(@wwiiddeeweb)</a></div>
      <div class="col-auto">Prueba técnica para Banco Internacional</div>
    </div>
  </div>
</footer>